<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAMService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rumsk1spm01:900/AsyncMail/AMService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAMService"
                contract="AMService.IAMService" name="BasicHttpBinding_IAMService" />
        </client>
    </system.serviceModel>
</configuration>