<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TPDailyRecapLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAMService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rumsk1spm01:900/AsyncMail/AMService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAMService"
                contract="AMService.IAMService" name="BasicHttpBinding_IAMService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <TPDailyRecapLight.Properties.Settings>
            <setting name="ResepientsList" serializeAs="String">
                <value>dmitry.mironov@dentsuaegis.ru</value>
            </setting>
            <setting name="HTMLLocation" serializeAs="String">
                <value>C:\Users\dmiron01\Documents\Visual Studio 2013\Projects\TP_Daily_Recap_v2\TPDRv2\</value>
            </setting>
            <setting name="reportFile" serializeAs="String">
                <value>c:\temp\report2.html</value>
            </setting>
        </TPDailyRecapLight.Properties.Settings>
    </applicationSettings>
</configuration>